@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-futuristic bg-background text-white;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #00ffe040;
  border-radius: 8px;
}
