@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a custom utility for font-futuristic */
@layer utilities {
  .font-futuristic {
    font-family: 'Orbitron', sans-serif;
  }
}

/* Use the class you just defined */
body {
  @apply font-futuristic bg-background text-white;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #00ffe040;
  border-radius: 8px;
}
